hw_clip/cpp_ver/engine_files/*
hw_clip/RN50x64.pt
#Pixel_aligned_VLM/Lseg/checkpoints/*
Pixel_aligned_VLM/Lseg/data/example_output/*
!hw_clip/cpp_ver/engine_files/convert_onnx_to_trt.sh
!hw_clip/cpp_ver/engine_files/clip_visual_weights.pth